/* Styles CSS file */

* {
  margin: 0;
  cursor: none;
}

body {
    overflow: hidden;
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

/* Typography */
html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.icons-social i {
    font-size: 3em;
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main > .intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main > .tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.icons-social i {
    padding: 10px;
}

.devto {
    margin-bottom: -0.20rem;
}

.devto svg {
    margin-bottom: -0.20rem;
    margin-left: 0.675rem;;
    width: 2.65rem;
    height: 2.65rem;
}
