#ds {
  color: black;
}

main {
  background: #121213;
  color: #e2e9f3;
}

.icons-social a {
  color: #e2e9f3;
}

.icons-social a svg path {
  fill: #e2e9f3;
}

#name {
  animation: clr 3s infinite;
  color: pink;
}

@keyframes clr {
  100%{filter: hue-rotate(360deg);}
}

#hackerrank:hover {
  color: #32c766;
}

#linkedin:hover {
  color: #0077b5;
}
